#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.1
Name=QSimpleGuitar
Icon=/usr/share/qsimpleguitar/gitara_icon_64.ico
Exec=qsimpleguitar
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;

Name[ru_RU]=QSimpleGuitar
